.container {
    display: flex;
    background-color: yellow;
    align-items: center;
    padding-top: 15%;
    
}

.seperator{
    flex-grow: 1;
    height: 100px;

}

.item {
    background-color: lightblue;
    flex-grow: 1;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;

    border-radius: 3px;
    background-color: #A2CBFA;
    border: 1px solid #4390E1;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05), 0 4px 4px rgba(0,90,250,0.05), 0 8px 8px rgba(0,90,250,0.05), 0 16px 16px rgba(0,90,250,0.05);

}

.shoppingCartIMG{
    width: 40px;
    height: 40px;
 
}

.navbar {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: row;

    Font-size: 30px;

    color: Black;

    font-family: 'Oswald', sans-serif;
}