.container {
    display: flex;
    align-items: center;
    
}

.seperator{
    flex-grow: 1;
    height: 100px;

}

.item {
    flex-grow: 1;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;

}

.shoppingCartIMG{
    width: 40px;
    height: 40px;
 
}

.navbar {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: row;

    Font-size: 30px;

    color: white;

    font-family: 'Oswald', sans-serif;
}

.titel {
    font-family: 'Oswald', sans-serif;

    display: flex;
    justify-content: center;

    color: white;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;

}

body {
    background-color: black;
    
}